.app.dark, :root {
    --bg-color: #333338;
    --inverted-bg-color: #ababab;
    --primary-color: #a6a4a4;
    --inverted-primary-color: #000;
    --secondary-color: #a6a4a4;
    --inverted-secondary-color: #9d9b9b;
}