.app.dark, :root {
    --bg-color: #333338;
    --inverted-bg-color: #a6a4a4;
    --primary-color: #383838;
    --inverted-primary-color: #a9a9a9;
    --secondary-color: #3b3b3b;
    --inverted-secondary-color: #1f1f1f;
}