.app.light, :root {
    --bg-color: #eeeaea;
    --inverted-bg-color: #333338;
    --primary-color: #000;
    --inverted-primary-color: #cbc7c7;
    --secondary-color: #333;
    --inverted-secondary-color: #2a2929;

}