.app.light {
  --bg-color: #eeeaea;
  --inverted-bg-color: #333338;

  --primary-color: #000000;
  --inverted-primary-color: #a6a4a4;

  --secondary-color: #333333;
  --inverted-secondary-color: #a6a4a4;

}