.ProfilePageHeader {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    .editBtn {
        margin-left: auto;
    }

    .edit {
        display: flex;
        gap: 20px;
    }
}
